<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container" th:fragment="content">

    <legend>Transaction message</legend>

    <div th:if="${data.cards.isEmpty()} and not ${data.merchants.isEmpty()}" class="alert alert-warning" role="alert">
        You have no cards. Upload EHI Simuliator <a th:href="@{/ehi/settings}">"Settings"</a> from file or create new one.
    </div>
    <div th:if="${data.merchants.isEmpty()} and not ${data.cards.isEmpty()}" class="alert alert-warning" role="alert">
        You have no merchants. Upload EHI Simuliator <a th:href="@{/ehi/settings}">"Settings"</a> from file or create new one.
    </div>
    <div th:if="${data.merchants.isEmpty()} and ${data.cards.isEmpty()}" class="alert alert-warning" role="alert">
        You have no cards and merchants. Upload EHI Simuliator <a th:href="@{/ehi/settings}">"Settings"</a> from file or create new ones.
    </div>

    <form method="post" th:action="@{/ehi/message/show}" th:object="${message}" th:if="not ${data.cards.isEmpty()} and not ${data.merchants.isEmpty()}">

        <div class="form-group row">
            <label for="ehiUrl" class="col-sm-2 col-form-label">EHI url</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="ehiUrl" th:name="ehiUrl" th:value="${data.ehiUrlDefault == null ? message.ehiUrl : data.ehiUrlDefault}" aria-describedby="helpInline"/>
                <small id="helpInline" class="form-text text-muted" th:text="'NANO URL for soap message'" style="font-size: 0.75rem" />
            </div>
        </div>

        <fieldset>
            <legend>Message fields</legend>

            <div class="form-group row">
                <label th:for="scheme" class="col-sm-2 col-form-label" th:text="Scheme"></label>
                <div class="col-sm-10">
                        <select th:id="scheme" th:name="scheme" class="custom-select" aria-describedby="helpInline">
                            <option th:each="schm : ${data.schemes}" th:value="${schm.value}" th:text="${schm.value}" th:selected="${(scheme == schm)}"/>
                        </select>
                        <small id="helpInline" class="form-text text-muted" th:text="'Select the appropriate Scheme (Visa or MasterCard)'" style="font-size: 0.75rem"/>
                </div>
            </div>

            <div class="form-group row">
                <label th:for="country" class="col-sm-2 col-form-label" th:text="Country"></label>
                <div class="col-sm-10">
                        <select th:id="country" th:name="country" class="custom-select" aria-describedby="helpInline">
                            <option th:each="cntry : ${data.countries}" th:value="${cntry.name}" th:text="${cntry.name}" th:selected="${(country == cntry)}"/>
                        </select>
                        <small id="helpInline" class="form-text text-muted" th:text="'Select transaction country'" style="font-size: 0.75rem"/>
                </div>
            </div>

            <div class="form-group row">
                <label th:for="date" class="col-sm-2 col-form-label" th:text="Date"></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:name="date" th:value="${#temporals.format(message.date, 'yyyy-MM-dd HH:mm.SSS')}" aria-describedby="helpInline"/>
                    <small id="helpInline" class="form-text text-muted" th:text="'Transaction date'" style="font-size: 0.75rem"/>
                </div>
            </div>

            <div class="form-group row align-items-center">
                <label th:for="amount" class="col-sm-2 col-form-label" th:text="Amount"></label>
                <div>
                    <div class="col-3" style="float: left;">
                        <input type="text" class="form-control" th:name="amount.value" th:value="${message.amount.value}" aria-describedby="helpInline" style="text-align: right;"/>
                        <small id="helpInline" class="form-text text-muted" th:text="'Transaction amount and currency'" style="font-size: 0.75rem"/>
                    </div>
                    <div class="col-8" style="float: left;">
                        <select th:id="amount.currency.isoCode" th:name="amount.currency.isoCode" class="custom-select" aria-describedby="helpInline">
                            <option th:each="crnc : ${data.currencies}" th:value="${crnc.isoCode}" th:text="${crnc.isoCode} + ' - ' + ${crnc.name}" th:selected="${(message.amount.currency.isoCode == crnc.isoCode)}"/>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label th:for="mcc" class="col-sm-2 col-form-label" th:text="'MCC Description'"></label>
                <div class="col-sm-10">
                    <select th:id="mcc" th:name="mccs" class="custom-select" aria-describedby="helpInline">
                        <option th:each="mccRec : ${data.mccs}" th:value="${mccRec.code}" th:text="${mccRec.description}" th:selected="${(message.mcc.code == mccRec.code)}"/>
                    </select>
                    <small id="helpInline" class="form-text text-muted" th:text="'Select the Merchant Category Code (MCC)'" style="font-size: 0.75rem"/>
                </div>
            </div>

            <div class="form-group row">
                <label th:for="posCapability" class="col-sm-2 col-form-label" th:text="'POS Capability'"></label>
                <div class="col-sm-10">
                    <select th:id="posCapability" th:name="posCapability" class="custom-select" aria-describedby="helpInline">
                        <option th:each="posCap : ${data.posCapabilities}" th:value="${posCap}" th:text="${posCap.label}" th:selected="${(message.posCapability == posCap)}"/>
                    </select>
                    <small id="helpInline" class="form-text text-muted" th:text="'Card Data Input Capability / POS Terminal Capabilities'" style="font-size: 0.75rem"/>
                </div>
            </div>

            <div class="form-group row">
                <label th:for="pinEntryCapability" class="col-sm-2 col-form-label" th:text="'PIN Entry capability'"></label>
                <div class="col-sm-10">
                    <select th:id="pinEntryCapability" th:name="pinEntryCapability" class="custom-select" aria-describedby="helpInline">
                        <option th:each="pinEntryCap : ${data.pinEntryCapabilities}" th:value="${pinEntryCap}" th:text="${pinEntryCap.label}" th:selected="${(message.pinEntryCapability == pinEntryCap)}"/>
                    </select>
                    <small id="helpInline" class="form-text text-muted" th:text="'PIN Entry capability'" style="font-size: 0.75rem"/>
                </div>
            </div>

            <div class="form-group row">
                <label th:for="processingCode" class="col-sm-2 col-form-label" th:text="'Processing code'"></label>
                <div class="col-sm-10">
                    <select th:id="processingCode.value" th:name="processingCode.value" class="custom-select" aria-describedby="helpInline">
                        <option th:each="procCode : ${data.processingCodes}" th:value="${procCode.value}" th:text="${procCode.label}" th:selected="${(message.processingCode.value == procCode.value)}"/>
                    </select>
                    <small id="helpInline" class="form-text text-muted" th:text="'Processing code'" style="font-size: 0.75rem"/>
                </div>
            </div>

            <div class="form-group row">
                <label th:for="transactionType" class="col-sm-2 col-form-label" th:text="'Transaction type'"></label>
                <div class="col-sm-10">
                    <select th:id="transactionType.id" th:name="transactionType.id" class="custom-select" aria-describedby="helpInline">
                        <option th:each="trnType : ${data.transactionTypes}" th:value="${trnType.id}" th:text="${trnType.description}" th:selected="${(message.transactionType.id == trnType.id)}"/>
                    </select>
                    <small id="helpInline" class="form-text text-muted" th:text="'Transaction type'" style="font-size: 0.75rem"/>
                </div>
            </div>

            <div class="form-group row">
                <label th:for="card.pcId" class="col-sm-2 col-form-label" th:text="'Card'"></label>
                <div class="col-sm-10">
                    <select th:id="card.pcId" th:name="card.pcId" class="custom-select" aria-describedby="helpInline">
                        <option th:each="crd : ${data.cards}" th:value="${crd.pcId}" th:text="${crd.number}" th:selected="${(message.card.pcId == crd.pcId)}"/>
                    </select>
                    <small id="helpInline" class="form-text text-muted" th:text="'Select card transaction done with'" style="font-size: 0.75rem"/>
                </div>
            </div>

            <div class="form-group row">
                <label th:for="merchant.name" class="col-sm-2 col-form-label" th:text="'Merchant'"></label>
                <div class="col-sm-10">
                    <select th:id="merchant.name" th:name="merchant.name" class="custom-select" aria-describedby="helpInline">
                        <option th:each="merch : ${data.merchants}" th:value="${merch.name}" th:text="${merch.name}" th:selected="${(message.merchant.name == merch.name)}"/>
                    </select>
                    <small id="helpInline" class="form-text text-muted" th:text="'Select transaction merchant'" style="font-size: 0.75rem"/>
                </div>
            </div>

        </fieldset>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>