<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container" th:fragment="content">
        <fieldset>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Reference no</th>
                        <th>Amount</th>
                        <th>Billing amount</th>
                        <th>Card Id</th>
                        <th>Message type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="msg, i : ${messagesMainData}" th:class="${i.last ? 'indigo lighten-4' : ''}">
                        <td th:text="${msg.referenceNumber}"/>
                        <td th:text="${msg.amount.value + ' ' + msg.amount.currency.isoCode}"/>
                        <td th:text="${msg.billingAmount.value + ' ' + msg.billingAmount.currency.isoCode}"/>
                        <td th:text="${msg.cardPcId}"/>
                        <td th:text="${msg.transactionType.description}"/>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <legend th:text="${message.transactionType.description} + ' message response'"/>

                <div class="alert alert-success" role="alert" th:if="${notice.type == 'SUCCESS'}" th:utext="${notice.text}"/>
                <div class="alert alert-warning" role="alert" th:if="${notice.type == 'WARNING'}" th:utext="${notice.text}"/>

                <div class="form-group row align-items-center">
                    <div class="col-sm-10">
                        <div class="form-group">
                            <pre><code class="language-xml"><textarea rows="20" class="form-control" th:name="xmlRequest" th:utext="${message.response.xml}"/></code></pre>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <div th:if="not ${nextButtons.isEmpty()}" style="float: left; padding-left: 5px;">
                    <a th:each="btn : ${nextButtons}" class="btn btn-primary" th:href="@{/ehi/message/do/next?transactionTypeId={id}(id=${btn.transactionType.id})}" role="button" th:text="${btn.label}"/>
                </div>
                <div style="float: left; padding-left: 5px;">
                    <a class="btn btn-light" th:href="@{/ehi/message/edit/fields}" role="button">New message</a>
                </div>
            </div>
        </div>
</div>

<script th:inline="javascript">
    var contextPath = /*[[${#httpServletRequest.getContextPath()+'/'}]]*/ 'context';
</script>

</body>
</html>