<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container" th:fragment="content">
    <form method="post" th:action="@{/ehi/message/show}" th:object="${message}">
        <fieldset>
            <!--<legend th:text="'Message type: ' + ${message.type == T(ibpay.message.MessageType).PAY ? 'Payment' : 'Authentication'}" />
            <div class="form-group row">
                <div class="col-sm-10" th:text="${message.id.description}">
                </div>
            </div>-->

            <div class="form-group row">
                <label for="ehiUrl" class="col-sm-2 col-form-label">EHI url</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="ehiUrl" th:name="ehiUrl" th:value="${ehiUrlDefault == null ? message.ehiUrl : ehiUrlDefault}" aria-describedby="helpInline"/>
                    <small id="helpInline" class="form-text text-muted" th:text="'NANO URL for soap message'" style="font-size: 0.75rem" />
                </div>
            </div>

            <legend>Message fields</legend>

            <label th:for="scheme" class="col-sm-2 col-form-label" th:text="Scheme"></label>
                <div class="col-sm-10">
                    <div>
                        <select th:id="scheme" th:name="scheme" class="custom-select" aria-describedby="helpInline">
                            <option th:each="schm : ${message.schemes}" th:value="${schm.value}" th:text="${schm.value}" th:selected="${(scheme == schm)}"/>
                        </select>
                        <small id="helpInline" class="form-text text-muted" th:text="'Select the appropriate Scheme (Visa or MasterCard)'" style="font-size: 0.75rem"/>
                    </div>
                </div>
            <div class="col-sm-10">
                <div>
                    <select th:id="country" th:name="country" class="custom-select" aria-describedby="helpInline">
                        <option th:each="cntry : ${message.countries}" th:value="${cntry.name}" th:text="${cntry.name}" th:selected="${(country.name == cntry.name)}"/>
                    </select>
                    <small id="helpInline" class="form-text text-muted" th:text="'Select transaction country'" style="font-size: 0.75rem"/>
                </div>
            </div>
            <!--<div th:if="${field.name != T(ibpay.message.field.FieldName).VK_SND_ID}">
                <input type="text" class="form-control" th:name="${field.name}" th:value="${field.value}" th:readonly="${field.readonly}" aria-describedby="helpInline" />
                <small id="helpInline" class="form-text text-muted" th:text="${field.description}" style="font-size: 0.75rem" />
            </div>-->

        </fieldset>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Next</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>