<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container" th:fragment="content">
    <div>
        <!--<legend th:text="${message.transactionType.description} + ' message response'"/>-->

        <div class="alert alert-success" role="alert" th:if="${notice.type == 'SUCCESS'}" th:utext="${notice.text}"/>
        <div class="alert alert-danger" role="alert" th:if="${notice.type == 'ERROR'}" th:utext="${notice.text}"/>
    </div>

        <fieldset>


            <legend text="'Transaction messages'"/>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Reference no</th>
                        <th>Amount</th>
                        <th>Billing amount</th>
                        <th>Card Id</th>
                        <th>Message type</th>
                        <th>Trace id lifecycle</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:each="msg, i : ${messagesMainData}">
                        <tr th:class="${msg.success ? 'green lighten-4' : 'red lighten-4'}" th:onclick="'toggleVisibility(\'' + ${msg.referenceNumber} + '\')'">
                            <td th:text="${msg.referenceNumber}"/>
                            <td th:text="${msg.amount.value + ' ' + msg.amount.currency.isoCode}"/>
                            <td th:text="${msg.billingAmount.value + ' ' + msg.billingAmount.currency.isoCode}"/>
                            <td th:text="${msg.cardPcId}"/>
                            <td th:text="${msg.transactionType.description}"/>
                            <td th:text="${msg.traceIdLifecycle}"/>
                            <td th:text="${msg.statusMessage}"/>
                        </tr>

                        <tr th:class="'messageDetails message' + ${msg.referenceNumber}" style="display: none;">
                            <td colspan="6">
                                Request
                            </td>
                        </tr>
                        <tr th:class="'messageDetails message' + ${msg.referenceNumber}" style="display: none;">
                            <td colspan="6">
                                <pre><code class="language-xml"><textarea th:utext="${msg.request}"/></code></pre>
                            </td>
                        </tr>

                        <tr th:class="'messageDetails message' + ${msg.referenceNumber}" style="display: none;">
                            <td colspan="6">
                                Response
                            </td>
                        </tr>
                        <tr th:class="'messageDetails message' + ${msg.referenceNumber}" style="display: none;">
                            <td colspan="6">
                                <pre><code class="language-xml"><textarea th:utext="${msg.response}"/></code></pre>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>

        </fieldset>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <div th:if="not ${nextButtons.isEmpty()}" style="float: left; padding-left: 5px;">
                    <a th:each="btn : ${nextButtons}" class="btn btn-primary" role="button" th:text="${btn.label}"
                       th:href="@{/ehi/message/do/next?transactionTypeId={id}(id=${btn.transactionType.id})}"/>
                </div>
                <div style="float: left; padding-left: 5px;">
                    <a class="btn btn-light" th:href="@{/ehi/message/new/fields}" role="button">New transaction
                        message</a>
                </div>
            </div>
        </div>
</div>

<script th:inline="javascript">
    var contextPath = /*[[${#httpServletRequest.getContextPath()+'/'}]]*/ 'context';
</script>

</body>
</html>