<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container" th:fragment="content">
    <form method="post" th:action="@{/ehi/env/show/edit}">
        <fieldset>

            <h2>Application veriables</h2>

            <div class="form-group row" style="padding-top: 20px">
                <label class="col-sm-2 col-form-label" th:text="'EHI url default'"></label>
                <div class="col-sm-10">
                    <div>
                        <div class="form-control" th:text="${settings.ehiUrlDefault}" aria-describedby="helpInline" />
                    </div>
                </div>
            </div>

        </fieldset>
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-10">
                <button type="submit" class="btn btn-indigo">Edit</button>
            </div>
        </div>
    </form>
</div>

<script th:inline="javascript">
    var contextPath = /*[[${#httpServletRequest.getContextPath()+'/'}]]*/ 'context';
</script>

</body>
</html>