<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container" th:fragment="content">

    <div style="padding-top: 50px">
        <h2>Merchants list</h2>

        <div class="alert alert-warning" role="alert" th:if="${merchants.isEmpty()}">You have no merchants. Upload EHI Simuliator <a th:href="@{/ehi/settings}">"Settings"</a>
            from file or create new one.
        </div>

        <div th:if="${merchants.isEmpty()}" style="padding-top: 20px">
            <a class="btn btn-outline-indigo btn-block" th:href="@{/ehi/data/merchant/show/create}" role="button">Add
                merchant</a>
        </div>

        <div style="padding-bottom: 20px" th:if="not ${merchants.isEmpty()}">
            <small class="form-text text-muted">You can save changes to file at
                <a th:href="@{/ehi/settings}">"Settings"</a></small>
        </div>


        <div class="table-responsive" th:if="not ${merchants.isEmpty()}">
            <a class="btn btn-outline-indigo btn-block" th:href="@{/ehi/data/merchant/show/create}" role="button">Add
                merchant</a>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone nr.</th>
                    <th>Address</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="instance : ${merchants}">
                    <td th:text="${instance.name}"/>
                    <td th:text="${instance.phoneNumber}" th:nowrap="true"/>
                    <td th:text="${instance.address}"/>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <a class="btn btn-indigo" th:href="@{/ehi/data/merchant/show/edit(merchantName=${instance.name})}" role="button">edit</a>
                            <a class="btn btn-indigo" th:href="@{/ehi/data/merchant/delete(merchantName=${instance.name})}" role="button">delete</a>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>