<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container" th:fragment="navigation">
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
                data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Dashboard</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/jtracker/slack/events') ? 'nav-link active' : 'nav-link'}"
                       th:href="@{/jtracker/slack/events/list}">Slack events
                        <span class="sr-only"
                              th:if="${#strings.startsWith(#httpServletRequest.requestURI,'/jtracker/slack/events')}">
                            (current)
                        </span>
                    </a>
                </li>
                <!--                <li class="nav-item">
                                    <a th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/jtracker/contract') ? 'nav-link active' : 'nav-link'}" th:href="@{/jtracker/contract/list}">Contracts <span class="sr-only" th:if="${#strings.startsWith(#httpServletRequest.requestURI,'/jtracker/contract')}">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/jtracker/env') ? 'nav-link active' : 'nav-link'}" th:href="@{/jtracker/env}">Environment <span class="sr-only" th:if="${#strings.startsWith(#httpServletRequest.requestURI,'/jtracker/env')}">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/jtracker/settings') ? 'nav-link active' : 'nav-link'}" th:href="@{/jtracker/settings}">Settings <span class="sr-only" th:if="${#strings.startsWith(#httpServletRequest.requestURI,'/jtracker/settings')}">(current)</span></a>
                                </li>-->
                <li class="nav-item">
                    <a th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/jtracker/help') ? 'nav-link active' : 'nav-link'}"
                       th:href="@{/jtracker/help}">Help
                        <span class="sr-only"
                              th:if="${#strings.startsWith(#httpServletRequest.requestURI,'/jtracker/help')}">(current)
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>