<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="navigation">
    <nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar">
        <div th:if="${#strings.startsWith(#httpServletRequest.requestURI,'/ehi/request')}">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/ehi/message/templates') ? 'nav-link active' : 'nav-link'}"
                       th:href="@{/ehi/message/templates/list}">Message templates <span class="sr-only" th:if="${#strings.startsWith(#httpServletRequest.requestURI,'/ehi/message/templates')}">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/ehi/message/new') ? 'nav-link active' : 'nav-link'}"
                       th:href="@{/ehi/message/new/fields}">New message <span class="sr-only" th:if="${#strings.startsWith(#httpServletRequest.requestURI,'/ehi/message/new')}">(current)</span></a>
                </li>
            </ul>
        </div>

        <div th:if="${#strings.startsWith(#httpServletRequest.requestURI,'/ehi/card')}">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/ehi/contract/list') ? 'nav-link active' : 'nav-link'}"
                       th:href="@{/ehi/card/list}">Cards management <span class="sr-only" th:if="${#strings.startsWith(#httpServletRequest.requestURI,'/ehi/card/list')}">(current)</span></a>
                </li>
            </ul>
        </div>

        <div th:if="${#strings.startsWith(#httpServletRequest.requestURI,'/ehi/settings')}">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/ehi/settings') ? 'nav-link active' : 'nav-link'}"
                       th:href="@{/ehi/settings}">Settings upload/download <span class="sr-only" th:if="${#strings.startsWith(#httpServletRequest.requestURI,'/ehi/settings')}">(current)</span></a>
                </li>
            </ul>
        </div>

        <div th:if="${#strings.startsWith(#httpServletRequest.requestURI,'/ehi/env')}">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a th:class="${#strings.startsWith(#httpServletRequest.requestURI,'/ehi/env') ? 'nav-link active' : 'nav-link'}"
                       th:href="@{/ehi/env}">Application variables <span class="sr-only" th:if="${#strings.startsWith(#httpServletRequest.requestURI,'/ehi/env')}">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>