<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container" th:fragment="content">

    <div style="padding-top: 50px">
        <h2>Slack events list</h2>

        <div th:if="${#lists.isEmpty(events)}">You have no slack events.</div>

        <div class="table-responsive" th:if="${not #lists.isEmpty(events)}">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>id</th>
                    <th>ts</th>
                    <th>date</th>
                    <th>text</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${events}">
                    <td th:text="${event.id}"/>
                    <td th:text="${event.ts}"/>
                    <td th:text="${event.dateTime}"/>
                    <td th:text="${event.text}"/>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>